.button {
  background-color: $grey;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(63, 180, 68, 0.1);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  padding: 14px 24px;
  cursor: pointer;
  border: none;
  width: 114px;
  height: 41px;

  &--outlined {
    border: 1px solid $grey;
    background-color: transparent;
    color: $grey;
  }
}
